# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
env/
venv/
.venv/

# Django local database
db.sqlite3

# Media ve statik
media/
staticfiles/

# Django log dosyaları
*.log

# IDE / editör ayarları
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistem dosyaları
.DS_Store
Thumbs.db

# Çevre değişkenleri, .env dosyası
.env
